{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
		<div class="breadcrumb-wrap">
    {% for item in breadcrumb %}
      
			{% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% endif %}
      
    {% endfor %}
		</div>
{% endif %}
