<div class="content-info">
	<div class="container-fluid wide subpage">
			<div class="row">
					<div class="col-xl-9 col-lg-8 col-md-7 col-sm-12">
						<div class="txt main">
							{{ content.left }}
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-5 col-sm-12">
						<div class="aside">
							{{ content.right }}
						</div>
					</div>
			</div>
	</div>
</div>