
<div class="content-info icons">
	<div class="icons-wrapper">
			<div class="tframe fw fh">
					<div class="trow">
							<div class="tcell valign-mid">
									<div class="container-fluid wide">
											{{ content.top }}
										</div>
								</div>
								
						</div>
				</div>
		</div>
</div>

<div class="content-info industries grill-pattern">
	<div class="shadow"></div>
	<div class="container-fluid wide">
			<div class="txt">
				{{ content.bottom }}
			</div>
	</div>
</div>