<div class="content-info title">
	<div class="container-fluid wide">
			<div class="txt">
					<div class="product-listing-title">
						{% if content.top %}
						{{ content.top }}
						{% endif %}
					</div>
			</div>
		</div>
</div>

<div class="content-info product-listing grill-pattern">
	<div class="shadow"></div>
	<div class="container-fluid">
			{{ content.bottom }}
		</div>
</div>