<div class="content-info">
	<div class="container-fluid wide">
			<div class="tframe fw">
					<div class="trow">
							<div class="tcell valign-top">
									<div class="txt">
										{{ content.left }}
									</div>
								</div>
								<div class="tcell valign-top text-right">
									{{ content.right }}
								</div>
						</div>
						
				</div>
				{{ content.middle }}
		</div>
</div>
<div class="feature-links">
	<div class="container-fluid">
		<div class="tframe fw">
			<div class="trow">
				{{ content.bottom }}
			</div>
		</div>
	</div>
</div>